Repository WATCHA-Redesign/WATCHAROID, pull requests merged in 2021-05, with the labels that each got.

#10 손연주 작업 부분 업로드
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/gradle.xml
  .idea/vcs.xml
  README.md
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/yjooooo/watcharoid/MainActivity.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/base/BaseActivity.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/base/BaseFragment.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/home/adapter/BannerViewPagerAdapter.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/home/model/BannerData.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/home/view/HomeFragment.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/home/viewmodel/HomeViewModel.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/main/adapter/MainViewPagerAdapter.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/main/view/MainActivity.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/search/adapter/HighScoreRcvAdapter.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/search/model/HighScoreData.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/search/view/SearchFragment.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/search/viewmodel/SearchViewModel.kt
  app/src/main/java/com/yjooooo/watcharoid/util/BindingAdapters.kt
  app/src/main/java/com/yjooooo/watcharoid/util/StatusBarUtil.kt
  app/src/main/res/drawable/bg_search_view.xml
  app/src/main/res/drawable/bottom_navi_color.xml
  app/src/main/res/drawable/home_indicator_selected.xml
  app/src/main/res/drawable/home_indicator_selector.xml
  app/src/main/res/drawable/home_indicator_unselected.xml
  app/src/main/res/drawable/icon_alarm.xml
  app/src/main/res/drawable/icon_category.xml
  app/src/main/res/drawable/icon_heart.xml
  app/src/main/res/drawable/icon_home.xml
  app/src/main/res/drawable/icon_mirroring.xml
  app/src/main/res/drawable/icon_mypage.xml
  app/src/main/res/drawable/icon_search.xml
  app/src/main/res/drawable/icon_search_back.xml
  app/src/main/res/drawable/img_main_logo.xml
  app/src/main/res/drawable/img_rv_high_score.png
  app/src/main/res/drawable/img_vp_home_1.png
  app/src/main/res/drawable/img_vp_home_2.png
  app/src/main/res/drawable/img_vp_home_3.png
  app/src/main/res/drawable/img_vp_home_4.png
  app/src/main/res/drawable/img_vp_home_5.png
  app/src/main/res/drawable/img_vp_home_6.png
  app/src/main/res/drawable/img_vp_home_7.png
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_search.xml
  app/src/main/res/layout/item_banner.xml
  app/src/main/res/layout/item_high_score.xml
  app/src/main/res/menu/menu_main_bottom_navi.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
  app/src/main/res/values/themes.xml
Labels: pull request, yjooooo

#14 레이아웃 수정, 상단 로고바 애니메이션 속도 재설정
  app/src/main/java/com/yjooooo/watcharoid/ui/home/view/HomeFragment.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/search/viewmodel/SearchViewModel.kt
  app/src/main/res/drawable-hdpi/img_rv_high_score_1.png
  app/src/main/res/drawable-hdpi/img_rv_high_score_2.png
  app/src/main/res/drawable-mdpi/img_rv_high_score_1.png
  app/src/main/res/drawable-mdpi/img_rv_high_score_2.png
  app/src/main/res/drawable-xhdpi/img_rv_high_score_1.png
  app/src/main/res/drawable-xhdpi/img_rv_high_score_2.png
  app/src/main/res/drawable-xxhdpi/img_rv_high_score_1.png
  app/src/main/res/drawable-xxhdpi/img_rv_high_score_2.png
  app/src/main/res/drawable-xxxhdpi/img_rv_high_score_1.png
  app/src/main/res/drawable-xxxhdpi/img_rv_high_score_2.png
  app/src/main/res/drawable/img_rv_high_score.png
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_search.xml
  app/src/main/res/layout/item_high_score.xml
Labels: pull request, yjooooo

#15 [FEAT] Home : ContinueRcv, PediaRcv, TodayRcv 제작
  app/src/main/java/com/yjooooo/watcharoid/ui/home/adapter/ContinueListAdapter.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/home/adapter/PediaListAdapter.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/home/adapter/TodayListAdapter.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/home/model/ContinueData.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/home/model/PediaData.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/home/model/TodayData.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/home/view/HomeFragment.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/home/viewmodel/HomeViewModel.kt
  app/src/main/res/drawable-hdpi/card_main_big_img_android.png
  app/src/main/res/drawable-hdpi/card_main_highkick.png
  app/src/main/res/drawable-hdpi/card_small.png
  app/src/main/res/drawable-hdpi/card_small_2.png
  app/src/main/res/drawable-hdpi/card_small_3.png
  app/src/main/res/drawable-hdpi/card_small_img_android_4.png
  app/src/main/res/drawable-hdpi/card_small_img_android_5.png
  app/src/main/res/drawable-hdpi/card_small_img_android_6.png
  app/src/main/res/drawable-mdpi/card_main_big_img_android.png
  app/src/main/res/drawable-mdpi/card_main_highkick.png
  app/src/main/res/drawable-mdpi/card_small.png
  app/src/main/res/drawable-mdpi/card_small_2.png
  app/src/main/res/drawable-mdpi/card_small_3.png
  app/src/main/res/drawable-mdpi/card_small_img_android_4.png
  app/src/main/res/drawable-mdpi/card_small_img_android_5.png
  app/src/main/res/drawable-mdpi/card_small_img_android_6.png
  app/src/main/res/drawable-xhdpi/card_main_big_img_android.png
  app/src/main/res/drawable-xhdpi/card_main_highkick.png
  app/src/main/res/drawable-xhdpi/card_small.png
  app/src/main/res/drawable-xhdpi/card_small_2.png
  app/src/main/res/drawable-xhdpi/card_small_3.png
  app/src/main/res/drawable-xhdpi/card_small_img_android_4.png
  app/src/main/res/drawable-xhdpi/card_small_img_android_5.png
  app/src/main/res/drawable-xhdpi/card_small_img_android_6.png
  app/src/main/res/drawable-xxhdpi/card_main_big_img_android.png
  app/src/main/res/drawable-xxhdpi/card_main_highkick.png
  app/src/main/res/drawable-xxhdpi/card_small.png
  app/src/main/res/drawable-xxhdpi/card_small_2.png
  app/src/main/res/drawable-xxhdpi/card_small_3.png
  app/src/main/res/drawable-xxhdpi/card_small_img_android_4.png
  app/src/main/res/drawable-xxhdpi/card_small_img_android_5.png
  app/src/main/res/drawable-xxhdpi/card_small_img_android_6.png
  app/src/main/res/drawable-xxxhdpi/card_main_big_img_android.png
  app/src/main/res/drawable-xxxhdpi/card_main_highkick.png
  app/src/main/res/drawable-xxxhdpi/card_small.png
  app/src/main/res/drawable-xxxhdpi/card_small_2.png
  app/src/main/res/drawable-xxxhdpi/card_small_3.png
  app/src/main/res/drawable-xxxhdpi/card_small_img_android_4.png
  app/src/main/res/drawable-xxxhdpi/card_small_img_android_5.png
  app/src/main/res/drawable-xxxhdpi/card_small_img_android_6.png
  app/src/main/res/drawable/btn_play_android_3.xml
  app/src/main/res/drawable/img_main_watchapedia.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/item_home_continue.xml
  app/src/main/res/layout/item_home_pedia.xml
  app/src/main/res/layout/item_home_today.xml
  app/src/main/res/values/strings.xml
Labels: pull request

#16 [FEAT] TopSearchContentView, YourMovieMateView
  .idea/.name
  app/build.gradle
  app/src/main/java/com/yjooooo/watcharoid/ui/home/view/HomeFragment.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/main/view/MainActivity.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/search/adapter/TopSearchRcvAdapter.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/search/model/TopSearchData.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/search/view/SearchFragment.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/search/viewmodel/SearchViewModel.kt
  app/src/main/res/drawable-mdpi/card_search_small_android1.png
  app/src/main/res/drawable-mdpi/card_search_small_android2.png
  app/src/main/res/drawable-mdpi/card_search_small_android3.png
  app/src/main/res/drawable-mdpi/card_search_small_android4.png
  app/src/main/res/drawable-mdpi/card_search_small_android5.png
  app/src/main/res/layout/fragment_search.xml
  app/src/main/res/layout/item_top_search.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
Labels: feat

#18 #17 [UI] Layout 수정
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_search.xml
  app/src/main/res/layout/item_top_search.xml
Labels: pull request, yjooooo

#20 #19 [Search] : Chipgourp 속성 수정
  app/src/main/res/layout/fragment_search.xml
Labels: pull request, yjooooo

#22 #21 [Home] : WatchaPedia 하단 텍스트 BindingAdapter 사용
  app/src/main/java/com/yjooooo/watcharoid/util/BindingAdapters.kt
  app/src/main/res/layout/item_home_pedia.xml
Labels: pull request, yjooooo

#26 #25 [FEAT] Network : RetrofitBuilder 생성, Service 인터페이스 생성
  app/src/main/java/com/yjooooo/watcharoid/network/api/HomeService.kt
  app/src/main/java/com/yjooooo/watcharoid/network/api/HomeYjooService.kt
  app/src/main/java/com/yjooooo/watcharoid/network/api/RetrofitBuilder.kt
  app/src/main/java/com/yjooooo/watcharoid/network/api/SearchService.kt
  app/src/main/java/com/yjooooo/watcharoid/network/api/SearchYjooService.kt
Labels: pull request, yjooooo

#27 Modify HomeService, HomeYjooService
  app/src/main/java/com/yjooooo/watcharoid/network/api/HomeService.kt
  app/src/main/java/com/yjooooo/watcharoid/network/api/HomeYjooService.kt
Labels: pull request, yjooooo

#32 Yjooooo
  app/src/main/java/com/yjooooo/watcharoid/network/api/HomeYjooService.kt
  app/src/main/java/com/yjooooo/watcharoid/network/api/SearchYjooService.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/home/model/ResponseBannerList.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/home/model/ResponseHighScoreList.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/home/model/ResponseWatchingList.kt
  app/src/main/java/com/yjooooo/watcharoid/util/BindingAdapters.kt
  app/src/main/java/com/yjooooo/watcharoid/util/StatusBarUtil.kt
Labels: pull request, yjooooo

#34 #33 [MODIFY] Modify BASE_URL And api path
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/yjooooo/watcharoid/network/api/HomeService.kt
  app/src/main/java/com/yjooooo/watcharoid/network/api/HomeYjooService.kt
  app/src/main/java/com/yjooooo/watcharoid/network/api/RetrofitBuilder.kt
  app/src/main/java/com/yjooooo/watcharoid/network/api/SearchService.kt
  app/src/main/java/com/yjooooo/watcharoid/network/api/SearchYjooService.kt
Labels: pull request, yjooooo

#35 Modify ResponseHighScoreList.kt And Move ResponseHighScoreList.kt to …
  app/src/main/java/com/yjooooo/watcharoid/ui/search/model/ResponseHighScoreList.kt
Labels: pull request, yjooooo

#36 Modify SearchYjooService.kt
  app/src/main/java/com/yjooooo/watcharoid/network/api/SearchYjooService.kt
Labels: modify, pull request, yjooooo

#37 yujeong
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/yjooooo/watcharoid/network/api/HomeService.kt
  app/src/main/java/com/yjooooo/watcharoid/network/api/HomeYjooService.kt
  app/src/main/java/com/yjooooo/watcharoid/network/api/RetrofitBuilder.kt
  app/src/main/java/com/yjooooo/watcharoid/network/api/SearchService.kt
  app/src/main/java/com/yjooooo/watcharoid/network/api/SearchYjooService.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/home/model/ResponseBannerList.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/home/model/ResponseWatchingList.kt
  app/src/main/java/com/yjooooo/watcharoid/ui/search/model/ResponseHighScoreList.kt
  app/src/main/java/com/yjooooo/watcharoid/util/BindingAdapters.kt
  app/src/main/java/com/yjooooo/watcharoid/util/StatusBarUtil.kt
Labels: pull request
